<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      Welcome to Bytepacked
    </p>
    <p class="subtitle">
      bytepacked is EC-CUBE like CMS
    </p>
  </div>
</section>
